@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <div class="row d-flex justify-content-end ">
        <div class="alert alert-primary chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row">
        <div class="alert alert-success chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-end">
        <div class="alert alert-primary chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row">
        <div class="alert alert-success chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-end">
        <div class="alert alert-primary chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-end ">
        <div class="alert alert-primary chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row">
        <div class="alert alert-success chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-end">
        <div class="alert alert-primary chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row">
        <div class="alert alert-success chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-end">
        <div class="alert alert-primary chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-end ">
        <div class="alert alert-primary chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row">
        <div class="alert alert-success chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-end">
        <div class="alert alert-primary chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row">
        <div class="alert alert-success chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-end">
        <div class="alert alert-primary chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-end ">
        <div class="alert alert-primary chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row">
        <div class="alert alert-success chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-end">
        <div class="alert alert-primary chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row">
        <div class="alert alert-success chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-end">
        <div class="alert alert-primary chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row d-flex justify-content-end ">
        <div class="alert alert-primary chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row">
        <div class="alert alert-success chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-end">
        <div class="alert alert-primary chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row">
        <div class="alert alert-success chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-end">
        <div class="alert alert-primary chatCloud" role="alert">
            <div class="col-12">
                UserUserName
                MessageDate
            </div>
            <div class="col-12">
                Messagesdfhyreajkfg dkghdjfkltj e
            </div>
        </div>
    </div>
</div>

@section Scripts
{ 
    <script src="~/js/ApplicationScripts/DealChat/DealChatSignalR.js"></script>
}